<script>
import axios from "axios"
import 'agnostic-svelte/css/common.min.css';
import { Card } from 'agnostic-svelte';

let page = 1;
let beers = [];

function updateBeers(){
    axios
        .get(`https://api.punkapi.com/v2/beers?page=${page}&per_page=5`)
        .then( (response) => {
            beers = response.data;
        }
    );
}

updateBeers();

function pageUp() {
    page += 1;
    updateBeers();
}

function pageDown() {
    if (page > 1){
        page -= 1;
        updateBeers();
    }
}


</script>

{#each beers as bear, i}
    <Card isBorder isRounded>
        <div class="p16">
            <img src="{bear.image_url}" alt="Bear image" style="height: 50px;"> 
        </div>
        <div class="p16">{bear.name}</div>
    </Card> 
{/each}

<div>
    <button on:click={pageDown}>-</button>
    <span>Page { page }</span>
    <button on:click={pageUp}>+</button>
</div>
