---
import 'agnostic-svelte/css/common.min.css';
import AgHeader from 'agnostic-astro/Header';
import AgHeaderNav from 'agnostic-astro/HeaderNav';
import AgHeaderNavItem from 'agnostic-astro/HeaderNavItem';
---

<AgHeader>
    <div>Beer</div>
    <AgHeaderNav css="nav-overrides">
        <AgHeaderNavItem><a href={import.meta.env.VERCEL?"":"/astro-beer/"}>Home</a></AgHeaderNavItem>
        <span style="margin-left: 10px;"></span>
        <AgHeaderNavItem><a href={import.meta.env.VERCEL?"about":"/astro-beer/about"}>About</a></AgHeaderNavItem>
    </AgHeaderNav>
    <div>API</div>
</AgHeader>